div{
  border-radius: 20px;
  width: 500px;
  height: 520px;
  background: var(--branco);
  color: var(--azul);
  padding: 3vh;
}

h1 {
  font-size: 32px;
}

hr {
  border: 1px solid var(--cinza);
  margin-top: 1vh;
  margin-bottom: 1vh;
}

p {
  font-size: 24px;
}
